<section style="height: 100vh;">
    <button type="button" class="btn btn01">
            <app-button></app-button>
    </button>
</section>

<section class="work-header">
    <h1 class="banner">Featured Work</h1>
</section>

<section class="my-work">
    <div class="container-fluid external-sites">
        <div class="flex-parent">

            <div class="flex-child child-1">
                <a href="https://github.com/AndrewWaller/Gamma.js" alt="Gamma JS" target="_blank" rel="noopener">
                    <div class="box">
                        <i class="fas fa-prescription"></i>
                    </div>
                </a>
                <h5 style="height: 20px; width: 100px;">Gamma JS</h5>
            </div>

            <div class="flex-child child-2">
                <a onclick="window.open('https://github.com/AndrewWaller/ClientCli'); window.open('https://www.npmjs.com/package/client-cli');" alt="ClientCli" target="_blank" rel="noopener">
                    <div class="box bounce-to-top">
                        <i aria-hidden="true" class="fab fa-node"></i>
                    </div>
                </a>
                <h5 style="height: 20px; width: 100px;">Client CLI</h5>
            </div>

            <div class="flex-child child-3">
                <a href="" alt="Webscrape">
                    <div class="box">
                        <i class="fab fa-python"></i>
                        <i class="fab fa-node-js"></i>
                    </div>
                </a>
                <h5 style="height: 20px; width: 100px;">Webscrape</h5>
            </div>

            <div class="flex-child child-4">
                <a href="https://andrewwaller.github.io/Adrw4/" alt="My old portfolio site" target="_blank" rel="noopener">
                    <div class="box">
                        <i aria-hidden="true" class=""></i>
                    </div>
                </a>
                <h5 style="height: 20px; width: 100px;">old</h5>
            </div>

        </div>
    </div>
</section>

<div style="height: 1000px"></div>