<section style="height: 100vh;">
    <button type="button" class="btn btn01">
            <app-button></app-button>
    </button>
</section>

<section class="work-header">
    <h1 class="banner">Featured Work</h1>
</section>

<section class="my-work">
    <div class="container-fluid external-sites">
        <div class="flex-parent">

            <div class="flex-child child-1">
                <a class="" href="https://github.com/AndrewWaller/Gamma.js" alt="Gamma JS" target="_blank" rel="noopener">
                    <div class="box">
                        <i class="fa fa-css3 fa-5x"></i>
                        <div class="overlay">
                            <p class="text-box box-2">Gamma JS</p>
                        </div>
                    </div>
                </a>
                <h5 style="height: 20px; width: 100px;">Gamma JS</h5>
            </div>

            <div class="flex-child child-2">
                <a class="" href="https://github.com/AndrewWaller/CustomerCli" alt="CustomerCli" target="_blank" rel="noopener">
                    <div class="box">
                        <i class="fa fa-code fa-5x"></i>
                        <div class="overlay">
                            <p class="text-box box-2">Customer CLI</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="flex-child child-3">
                <a class="" href="https://andrewwaller.github.io/number-guessing-name/" alt="Number Game">
                    <div class="box">
                        <i class="fa fa-cog fa-spin fa-5x"></i>
                        <div class="overlay">
                            <p class="text-box box-2">Number Game</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="flex-child child-4">
                <a class="" href="https://andrewwaller.github.io/Adrw4/" alt="My old portfolio site" target="_blank" rel="noopener">
                    <div class="box">
                        <i aria-hidden="true" class="fa fa-html5 fa-5x"></i>
                        <div class="overlay">
                            <p class="text-box box-2">My old portfolio</p>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>

<div style="height: 1000px"></div>